<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <%= Drab.Client.js(@conn) %>
    <script src="<%= static_path(@conn, "/js/material-datetime-picker.js")%>" charset="utf-8"></script>

    <title>Hello Rumbl!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">

  </head>

  <body>
      <header class="header">
      <ul id="dropdown1" class="dropdown-content">
            <li><a href="/users">List users</a></li>
            <li><a href="/users/new">New user</a></li>
            <li><a href="/images">Images</a></li>
            <li><a href="/images/new">Upload Images</a></li>
      </ul>
        <nav>
          <div class="nav-wrapper">
            <a href="/" class="right brand-logo">Test</a>
            <ul >
              <li><a href="/">Get Started</a></li>
              <!-- Dropdown Trigger -->
              <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
          </div>
        </nav>

      </header>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

<script>
$(document).ready(function(){
    $('select').material_select();
    $("#time_dropper").timeDropper({});
    $('#dateranger').dateRangePicker({
      shortcuts: {
        'next-days': [3, 5, 7],
        'next': ['week', 'month', 'year']
        }
      });

   
  $('.slider').slider();
  $('.carousel').carousel();

  $('.dropify').dropify();

const input = document.querySelector('.c-datepicker-input');
const picker = new MaterialDatetimePicker({})
    .on('submit', function (val) {
      input.value = val.format("dddd DD MMMM YYYY - HH:mm");
    });


//END DOCUMENT READY
});
    </script>
  </body>
</html>
