<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Hello Rumbl!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  
  </head>

  <body>
      <header class="header">
        <nav role="navigation">
          <ul class="nav nav-pills pull-right">
            <li><a href="/">Get Started</a></li>
          </ul>
        </nav>
        <span class="logo"></span>
      </header>
       
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>
    <!--
    
    <script src="<%= static_path(@conn, "/js/materialize.js") %>"></script>
    -->
    <script>
$(document).ready(function(){    
    $('select').material_select();
    $("#time_dropper").timeDropper({});
    $('#dateranger').dateRangePicker({		
      shortcuts: {
        'next-days': [3, 5, 7],
        'next': ['week', 'month', 'year']
        }
      });
    
    $("#datetimeranger").dateTimeRanger({});
  
    $('#from_date').datepicker({
      //timepicker: true,
      language: 'en',
      //minDate: new Date() // Now can select only dates, which goes after today
    })
    $('#from_time').timepicker({ 'step': 5 });
    //
    $('#date-end').bootstrapMaterialDatePicker({ format : 'dddd DD MMMM YYYY - HH:mm' }); 
    $('#date-start').bootstrapMaterialDatePicker({ format : 'dddd DD MMMM YYYY - HH:mm' }); 
    flatpickr("#to_date");
    $("#to_date").prop('readonly', false);
    $('#autocomplete-input').autocomplete({
      data: {
        "Apple": null,
        "Microsoft": null,
        "Google": 'http://placehold.it/250x250'
      },
      limit: 20, // The max amount of results that can be shown at once. Default: Infinity.
    });

    $('#tag_chips_id').material_chip({
        data: [{
          tag: 'Apple',
        }, {
          tag: 'Microsoft',
        }, {
          tag: 'Google',
        }],
      autocompleteData: {
        'Alameda': null,
        'Marinela': null,
        'García': null
      }
    });

//END DOCUMENT READY    
});
    </script>
  </body>
</html>
