@import "materialize";
.qq-edit-filename-icon {
    background: url("images/edit.gif")!important;
}

.qq-upload-spinner {
    background: url("/images/loading.gif")!important;
}

.qq-drop-processing-spinner {
    background: url("/images/processing.gif")!important;
}

.qq-gallery .qq-upload-spinner {
    background: url("/images/loading.gif")!important;
}

.qq-gallery .qq-drop-processing-spinner {
    background: url("/images/processing.gif")!important;
}

.qq-gallery .qq-edit-filename-icon {
    background: url("/images/edit.gif")!important;
}

.qq-gallery .qq-delete-icon {
    background: url("/images/trash.gif")!important;
}

.qq-gallery .qq-retry-icon {
    background: url("/images/retry.gif")!important;
}

.qq-gallery .qq-continue-icon {
    background: url("/images/continue.gif")!important;
}

.qq-gallery .qq-pause-icon {
    background: url("/images/pause.gif")!important;
}

.datepicker--nav {
    padding: 0px!important;
}

.datepicker--nav-title i {
    font-style: bold;
    color: #ffffff;
}

.datepicker--nav-title:hover {
    background: #b3b2b2;
}

input[type=range]+.thumb {
    background-color: transparent;
}

.ui-timepicker-wrapper {
    height: 200px;
    width: 6.5em;
    background: #fff;
    border: 0px solid #ddd;
    -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.ui-timepicker-list li {
    padding: 3px 0 3px 5px;
    cursor: pointer;
    white-space: nowrap;
    color: #009688!important;
    list-style: none;
    margin: 0;
}

li.ui-timepicker-selected,
.ui-timepicker-list li:hover,
.ui-timepicker-list .ui-timepicker-selected:hover {
    background: #eceff1;
    color: #004d40!important;
}

.autocomplete-content {
    position: absolute!important;
}

.flatpickr-input {
    color: black!important;
}